.navbar {
    background-color: white;
    padding: 10px;
}

body {
    background-color: lightgray;
}

.summary {
    background-color: white;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.visualizations {
    background-color: white;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.comps {
    background-color: white;
    margin-top: 40px;
}

.data {
    background-color: white;
    margin-top: 40px;
}

.plots {
    background-color: white;
    margin-top: 40px;
    padding: 10px;
}

.selected {
    border-style: solid;
    border-color: turquoise;
    border-width: 2px;
}

/* .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000…p='round' stroke-miterlimit='10' d='M47h22M4 15h22M423h22'/%3e%3c/svg%3e);
} */

